<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table">
                <th scope="col" colspan="4">PlayLists</th>
            </tr>
            <tr class="table-success">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Service</th>
                <th scope="col">Creator </th>
            </tr>
        </thead>
        <tbody>
            {{range $i,$a := .playlists}}
            <tr>
                <th scope="row">{{index $i}}</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>